Repository Azure/github-actions, changes with the owners that .github/CODEOWNERS names for each.
All owners: @bansalaseem, @ds-ms, @dikhakha, @sachinma, @vincentdass, @kmkumaran, @SumiranAgg, @nishubansal

Addresses review feedback.
  boards/README.md
  boards/entrypoint.sh
Owners: none

Updated names and description
  cli/Dockerfile
Owners: @dikhakha, @sachinma

boards: parse github comments as markdown
  boards/entrypoint.sh
Owners: none

boards: parse the description as markdown
  boards/entrypoint.sh
Owners: none

boards: handle extended markdown
  boards/entrypoint.sh
Owners: none

boards: install the discount markdown parser
  boards/Dockerfile
Owners: none

boards: handle GitHub issue labels
  boards/entrypoint.sh
Owners: none

boards: remove some debugging
  boards/entrypoint.sh
Owners: none

Adds support for tagging with repo.full_name to avoid collisions.
  boards/entrypoint.sh
Owners: none

Checking if empty before assigning, webapp & functionapp
  containerwebapp/entrypoint.sh
  functionscontainer/entrypoint.sh
Owners: @vincentdass, @kmkumaran, @SumiranAgg

LF to CRLF
  dotnetcore-cli/entrypoint.sh
Owners: @vincentdass, @kmkumaran, @SumiranAgg

Update README.md
  README.md
Owners: none

Removes double negative
  boards/entrypoint.sh
Owners: none

Azure Boards action (#47)
  boards/Dockerfile
  boards/README.md
  boards/entrypoint.sh
Owners: none

.github/CODEOWNERS:

.github/*   @bansalaseem

aks/*    @ds-ms @bansalaseem

arm/*   @dikhakha @sachinma

cli/*     @dikhakha @sachinma

containerwebapp/*     @vincentdass @kmkumaran @SumiranAgg

dotnetcore-cli/*    @vincentdass @kmkumaran @SumiranAgg

functions/*   @vincentdass @kmkumaran @SumiranAgg

functionscontainer/*    @vincentdass @kmkumaran @SumiranAgg

login/*     @dikhakha @sachinma

pipelines/*  @nishubansal @bansalaseem

releasepipelines/*  @nishubansal @bansalaseem

webapp/*    @vincentdass @kmkumaran @SumiranAgg
